/* Unix Koans stylesheet */

/* background image */
body {
	background-image: url(/~esr/backgrounds/parchment.jpg);
	background-color: #e1d7c8;
        color: #000000;
 }

/* default colors used by Mozilla, Galeon, and IE */
a:link    {color: #0000cf;}
a:visited {color: #51188e;}
a:active  {color: #ff0000;}

/* for the Koans file itself */
div.caption	{text-align: center; font-weight: bold;}
.title		{text-align: center;}
.subtitle	{text-align: center;}
.mediaobject	{text-align: center;}
