/* Stylesheet for the Halloween Documents */

h1,h2,h3		{font-family: sans-serif;}
.highlight		{color: #ff0000;}
.comment		{margin-left:5em; font-family: serif; color: #bb8800}
.commentcolor		{color: #bb8800}
.framing		{font-family: sans-serif;}
.footnotes		{font-family: serif;}
.centered		{text-align: center;}
